<h1>Welcome to Scramble Word Game!</h1>
<p>To play this game, all you have to do is guess what the scrambled word is </p>
<p> If you guess the <p>
  <em>correct word</em>, you win!</p>
<p>Choose carefully... you only get one try!</p>


<h3>The scrambled word is <%= @new_scrambled_word %></h3>
<p> Enter the word the scrambled letters represent </p>

