

 <h2> Birds seen this week at the <%=@location.location_name%></h2>
    
 
 <% @bird_display_array.each do |display|%>

 
 <li><%= display[:bird_name_end]%></li>

 <%=image_tag display[:bird_photo_final_end]%>

 <%end%>

 

<%=link_to 'Back', locations_path %>


    